<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог телефонов</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<ul class="menu">
<li><a class="a_head" href="/registrations">Регистрация</a></li>
<li><a class="a_head" href="/catalog">Каталог</a></li>
<li><a class="a_head" href="/contacts">Контакты</a></li>
<li><a class="a_head" href="/">Главная</a></li>
<hr>
<h1>Каталог</h1>
<img src="/static/mainapp/img/iphone7plus.jpg" alt="iphone7plus"  width="60" height="70"> <br>
<a href="iphone7plus.html">Iphone 7 plus</a><br>
<img src="/static/mainapp/img/samsung_note10.jpg" alt="samsung_note10"  width="60" height="70"><br>
<a href="samsung_note10.html" >Samsung Galaxy Note 10 </a> <br>
<hr>
<p class="footer">Все права защищены &copy;&nbsp;2019 </p>
</body>
</html>