<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="mybody">
<ul class="menu">
<li><a class="a_head" href="/registrations">Регистрация</a></li>
<li><a class="a_head" href="/catalog">Каталог</a></li>
<li><a class="a_head" href="/contacts">Контакты</a></li>
<li><a class="a_head" href="/">Главная</a></li>
</ul>
 <hr>
 Предприниматель Пупкин П.П. <br>
 тел. 8(800)3000500 <br>
 email : pupkin-zalupkin@strashnaya.ti <br>
 Адрес: Кудыкина гора , Изба на кур.ног. 5 <br>
 <br>
 <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af5795a46848862ba83bf7daedc6d4cb0b61191108f983897a4ec721b37d0fce3&amp;source=constructor" width="300" height="200" frameborder="0"></iframe>



 <hr>
 <p>Все права защищены &copy;&nbsp;2019 </p>
</body>
</html>