<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Главная страница</title>
<link rel="stylesheet" href="style.css">
</head>
<body class="mybody">
<ul class="menu">
<li><a class="a_head" href="/registrations">Регистрация</a></li>
<li><a class="a_head" href="/catalog">Каталог</a></li>
<li><a class="a_head" href="/contacts">Контакты</a></li>
<li><a class="a_head" href="/">Главная</a></li>
</ul>
<!--<hr class="head_hr" > -->
<h1>МобилS</h1>
<h3>Добро пожаловать в магазин МобилS</h3> <br>
<p>Бла бла бла</p>
<hr>
<p class="footer">Все права защищены &copy;&nbsp;2019</p> <br>
<a class=link href="https://vk.com" target="_blank">Вконтакте</a>
</body>
</html>