<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <ul class="menu">
<li><a class="a_head" href="/registrations">Регистрация</a></li>
<li><a class="a_head" href="/catalog">Каталог</a></li>
<li><a class="a_head" href="/contacts">Контакты</a></li>
<li><a class="a_head" href="/">Главная</a></li>
</ul>
<hr>
<h1>Регистрация</h1>
<form action="#">
Ваше имя <input type="text"  placeholder="Ваше имя"> <br>
Ваш пароль  <input type="password"  placeholder="Пароль"> <br>
Ваш пол  <br>
М <input type="radio" name="pol"> <br>
Ж <input type="radio" name="pol"> <br>
Блабла <br>
1 <input type="checkbox"> <br>
2 <input type="checkbox"> <br>
3 <input type="checkbox"> <br>
4 <input type="checkbox"> <br>
<input type="submit" value="отправить на"> <input type="reset" value="Сброс">
</form>
<hr>
<p>Все права защищены &copy;&nbsp;2019 </p>
</body>
</html>